.search-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 8px;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.form-wrapper {
  display: flex;
  padding: 36px;
  padding-bottom: 16px;
}

.search-form {
  margin: 0 auto;
}

.search-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-field::placeholder {
  color: #808080;
}

.search-field:hover {
  border-color: #000;
}

.search-field:active,
.search-field:focus {
  border-color: #4e75ff;
  outline: none;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background: grey;
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.gallery {
  padding: 12px 0 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
}

.img-wrapper {
  width: 100%;
  /* width: calc((100% - 48px) / 3); */
  height: 152px;
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.img-text-list {
  display: flex;
  padding: 4px 25px 4px 20px;
}

.first-category {
  margin-right: 28px;
}

.second-category {
  margin-right: 27px;
}

.third-category {
  margin-right: 32px;
}

.img-text-category {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-text-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
